WindowsStoreApp/Service References/TapasServiceReference/ModelClassLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTapas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tapas" nillable="true" type="tns:Tapas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTapas" nillable="true" type="tns:ArrayOfTapas" />
  <xs:complexType name="Tapas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="TapasNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tapas" nillable="true" type="tns:Tapas" />
</xs:schema>